* {
    box-sizing: border-box;
}

.login-form-heading {
    text-align: center;
    margin-top: 178px;
    font-size: 32px;
}

.login-form-inner {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.login-form-form {
    padding: 16px 8px;
    width: 680px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .login-form-form {
        width: 560px;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .login-form-form {
        width: 80%;
        padding: 24px 16px;
    }
}

.login-form-group {
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%;
}

.login-form-group:first-of-type {
    margin-top: 0;
}

.login-form-label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 20px;
}

.login-form-input {
    display: block;
    padding: 3px 12px;
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    font-family: serif;
}

.login-form-error-message {
    color: red;
}

.session-error {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

.login-form-btn {
    display: block;
    margin-top: 70px;
    background-color: red;
    color: white;
    padding: 3px 12px;
    font-weight: bold;
    font-size:20px;
    border: none;
    width: 100%;
    height: 48px;
}

.register-link {
    display: block;
    text-decoration: none;
    margin-top: 16px;
    width: 100%;
    text-align: center;
}

@media (max-width: 767px) {
    .login-form-heading {
        margin-top: 80px;
        font-size: 24px;
    }

    .login-form-inner {
        margin-top: 24px;
        padding: 0 16px;
    }

    .login-form-form {
        width: 100%;
        padding: 16px 8px;
    }

    .login-form-label {
        font-size: 18px;
    }

    .login-form-input {
        height: 44px;
        font-size: 16px;
    }

    .login-form-btn {
        margin-top: 40px;
        height: 48px;
        font-size: 18px;
    }

    .register-link {
        font-size: 16px;
    }

    .session-error {
        font-size: 18px;
        padding: 0 16px;
    }
}