* {
    box-sizing: border-box;
}

.address-edit-heading {
    text-align: center;
    margin-top: 80px;
    font-size: 36px;
    font-weight: bold;
}

.address-edit-content {
    display: flex;
    justify-content: center;
}

.address-edit-form {
    padding: 16px 8px;
    width: 680px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .address-edit-form {
        width: 560px;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .address-edit-form {
        width: 80%;
        padding: 24px 16px;
    }
}

.address-edit-group {
    margin-bottom: 50px;
    width: 100%;
}

.address-edit-group:first-of-type {
    margin-top: 50px;
}

.address-edit-label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 24px;
}

.address-edit-input {
    display: block;
    padding: 3px 12px;
    width: 100%;
    height: 45px;
    border: 1px solid black;
    border-radius: 4px;
    font-family: serif;
}

.address-edit-error-message {
    color: red;
}

.address-edit-btn {
    display: block;
    border-radius: 5px;
    margin-top: 80px;
    background-color: red;
    color: white;
    padding: 3px 12px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    width: 100%;
    height: 60px;
}

@media (max-width: 767px) {
    .address-edit-contents {
        max-width: 100%;
        margin: 60px auto 0;
        padding: 16px;
    }

    .address-edit-heading {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .address-edit-content {
        width: 100%;
        padding: 0;
    }

    .address-edit-form {
        width: 100%;
        padding: 16px;
    }

    .address-edit-group {
        margin-bottom: 20px;
    }

    .address-edit-label {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .address-edit-input {
        width: 100%;
        height: 44px;
        font-size: 16px;
        padding: 0 12px;
        box-sizing: border-box;
    }

    .address-edit-btn {
        width: 100%;
        height: 50px;
        font-size: 18px;
        margin-top: 24px;
    }

    .address-edit-error-message {
        color: red;
        font-size: 14px;
        margin-top: 4px;
    }
}