.tabs {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    height: 47px;
    margin-top: 127px;
    margin-left: 100px;
}

.tab-link {
    text-decoration: none;
    font-size: 16px;
    color: black;
    white-space: nowrap;
}

.tab-link-mylist {
    text-decoration: none;
    font-size: 16px;
    color: black;
    white-space: nowrap;
}

@media screen and (min-width: 1400px) {
    .product-content {
        flex: 1 1 calc(20% - 16px);
        max-width: calc(20% - 16px);
    }
}

.product-contents {
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 30px;
}

.product-content {
    width: 270px;
    border: none;
    position: relative;
}

.product-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.img-content {
    width: 270px;
    height: 270px;
}

.detail-content {
    display: flex;
    background-color: white;
    min-height: 50px;
    position: relative;
}

.sales-status {
    position: absolute;
    right: 10px;
}
