html,
body {
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    min-height: 82px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}

.header img {
    height: 32px;
    padding-left: 10px;
}

