.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    border-radius: 15px;
    background-color: #FDFCE6;
    border: 1px solid black;
    padding: 5px 10px;
    box-sizing: border-box;
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
}

.modal-content h3 {
    font-size: 35px;
}

.modal-content hr {
    border: 1px solid #000;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: -10px;
}

.modal-content p {
    font-size: 20px;
    color: #868686;
}

.stars {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.stars input {
    display: none;
}

.stars label {
    font-size: 90px;
    color: #D9D9D9;
}

.stars label.active {
    color: #FFD700;
}

.button-area {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.modal-button {
    background-color: #FF8282;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    border: none;
    padding: 4px 10px;
    margin-top: 10px;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #868686;
    width: 18%;
    margin-top: 0;
    min-height: 100vh;
}

.sidebar-heading {
    color: white;
    font-size: 30px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 15px;
}

.other-tradings ul {
    margin-left: 15px;
    padding: 0;
    padding-left: 10px;
}

.other-tradings li {
    margin-bottom: 40px;
    list-style: none;
}

.other-trading {
    background-color: #EEEFEB;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.trading-content {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.user-info {
    display: flex;
}

.user-icon img,
.user-avatar {
    width: 70px;
    height: 70px;
}

.user-name {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    margin-left: auto;
}

.complete-button {
    background-color: #FF8282;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 4px 8px;
}

hr {
    border: 2px solid #5f5f5f;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
}

.product-info {
    display: flex;
    gap: 30px;
    text-align: center;
    align-items: center;
    margin: 15px;
}

.product-info img {
    width: 200px;
    height: 200px;
}

.name {
    font-size: 44px;
    font-weight: bold;
}

.price {
    font-size: 36px;
    margin-left: 0;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

.chat-content {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    max-height: 40vh;
    overflow-y: auto;
    gap: 3px;
}

.chat-right {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-end;
    margin-right: 10px;
}

.chat-left {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
}

.chat-user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.chat-icon img,
.chat-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.chat-inner {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat-user-name {
    font-size: 16px;
    font-weight: bold;
}

.own-message,
.body {
    display: inline-block;
    background-color: #D9D9D9;
    color: #000000;
    font-size: 20px;
    border: none;
    max-width: 500px;
    padding: 8px 12px;
    border-radius: 10px;
    word-wrap: break-word;
    width: fit-content;
}

.own-message {
    margin-right: 0;
    margin-left: auto;
}

.image-wrapper {
    display: flex;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.message-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.edit-button,
.remove-button {
    border: none;
    color: #5f5f5f;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
}

.input-form {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.text-area {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.text {
    flex: 1;
    display: flex;
    align-items: center;
}

.text textarea {
    width: 100%;
    height: 30px;
    max-height: 200px;
    color: #7b7b7b;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    padding: 10px 15px;
    resize: vertical;
    overflow-y: auto;
}

.image-text {
    display: inline-block;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 700;
    color: #FF5555;
    border: 2px solid #FF5555;
    text-decoration: none;
    border-radius: 10px;
    white-space: nowrap;
}

.image-preview:empty {
    display: none;
}

.send-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.send-button img {
    width: 60px;
    height: 60px;
}

.error-message {
    font-size: 16px;
    font-weight: 700;
    color: #FF5555;
    margin: 0;
}

@media screen and (max-width: 850px) {
    .sidebar {
        width: 22%;
    }

    .sidebar-heading {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .other-trading {
        font-size: 14px;
        width: 100px;
        height: 20px;
    }

    hr {
        border: 1px solid black;
    }

    .user-icon img,
    .user-avatar {
        width: 40px;
        height: 40px;
    }

    .user-name {
        font-size: 20px;
    }

    .complete-button {
        font-size: 12px;
        padding: 3px 6px;
    }

    .product-info {
        gap: 20px;
        margin: 10px;
    }

    .product-info img {
        width: 80px;
        height: 80px;
    }

    .name {
        font-size: 28px;
    }

    .price {
        font-size: 20px;
    }

    .chat-icon img,
    .chat-avatar {
        width: 40px;
        height: 40px;
    }

    .chat-user-name {
        font-size: 10px;
    }

    .own-message,
    .body {
        font-size: 12px;
        max-width: 300px;
    }

    .image-wrapper img {
        width: 100px;
        height: 100px;
    }

    .message-actions {
        display: flex;
        gap: 0;
        justify-content: flex-end;
    }

    .edit-button,
    .remove-button {
        font-size: 9px;
    }

    .text-area {
        display: flex;
        justify-content: space-around;
        flex: 1;
        width: 100%;
        align-items: center;
        gap: 10px;
    }

    .text textarea {
        font-size: 12px;
        height: 30px;
        padding-top: 5px;
        padding-left: 5px;
    }

    .image-text {
        font-size: 10px;
        padding: 3px 15px;
    }

    .send-button img {
        width: 40px;
        height: 40px;
    }

    .error-message {
        font-size: 12px;
    }

    .modal {
        width: 300px;
        padding: 3px 6px;
    }

    .modal-content h3 {
        font-size: 20px;
    }

    .modal-content p {
        font-size: 14px;
    }

    .stars label {
        font-size: 50px;
    }

    .modal-button {
        font-size: 18px;
        padding: 3px 8px;
    }

    .modal-content hr {
        border: 1px solid #000;
        width: calc(100% + 12px);
        margin-left: -6px;
        margin-right: -6px;
    }
}


